# Default reviewer, until the different parts gets their own owner
* @melund


/A_Getting_started/* @Kristofferiversen
/A_Getting_started_anyscript/* @Kristofferiversen 
/A_Getting_started_modeling/* @Kristofferiversen
/Posture_and_movement/* @cdzialo


/A_study_of_studies/* @melund
/Validation_of_models/* @melund
/MuscleRecruitment/lesson7.rst @melund


/Making_things_move/* @melund
/Advanced_script_features/* @melund


/MuscleRecruitment/* @toerholm 
/The_mechanical_elements/* @toerholm



/Muscle_modeling/* @cdzialo 
/Parameter_studies_and_optimization/* @melund


/ForceDependentKinematics/* @cdzialo
/AnyExp4SOLIDWORKS/* @cdzialo


/Finite_element_analysis/* @pgalibarov
/Scaling/* @pgalibarov

# GUI
/Interface_features/intro.rst @rolesen
# Editor
/Interface_features/lesson1.rst @rolesen
# Model tree
/Interface_features/lesson4.rst @rolesen

# Model view window
/Interface_features/lesson2.rst @JDThomsen
# Chart view window
/Interface_features/lesson3.rst @JDThomsen
# Command line applicaiton
/Interface_features/lesson5.rst @JDThomsen
# AnyProject
/Interface_features/lesson7.rst @JDThomsen
# Modifying loaded values (SetValue etc.)
/Interface_features/lesson6.rst @JDThomsen


# /Troubleshooting_anyscript/* Michael Damsgaard

